
header {
  width: 100%;
  background-color: rgb(235, 241, 199);
  height: 3rem;
}
.noteContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.note{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 160px;
  padding: 5px;
  text-align: center;
  border: 1px solid rgb(255, 251, 0);
  background-color: rgb(255, 251, 0);
  margin: 5px
}
.note:hover{
  border: 1px solid rgb(160, 157, 5)
}
.note h1 {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  overflow-wrap: break-word;
  height: 30px;
  overflow-y: hidden;
}



.note p{
  font-weight: 100;
  padding: 2px;
  /* border: 1px solid red; */
  overflow-wrap: break-word;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  font-style: 1rem;
}

.close {
  position: absolute;
  width: 15px;
  height: 15px;
  background: rgb(255, 0, 0);
  right: 2px;
  top: 2px;
  border: 1px solid red;
}

.close:hover {
  background: #000;
  border: 1px solid rgb(255, 0, 0);
}

/* HEADER */

header {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

header a {
  text-transform: uppercase;
  color: rgb(61, 66, 37);
  text-decoration: none;
  margin: 20px;
}

/* DETAIL */

.detailContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  overflow-x: hidden;

}

.detailNote{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 600px;
  background-color: yellow;
  padding: 20px;
  overflow: hidden;
}

.detailNote img {
  max-width: 400px;
}

.detailTitle {
  font-weight: 700;
  width: 560px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  overflow-wrap: break-word;
}

.detailContent p {
  font-weight: 100;
  overflow-wrap: break-word;
  overflow: hidden;
  width: 560px;
  text-align: center;
}

.editor {
  position: absolute;
  top: 0;
  right: 335px;
}

.editor:hover {
  cursor: pointer;
  color: rgb(104, 224, 104);
}

.done{
  position: absolute;
  top: 25px;
  right: 320px;
}